# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__ List popular languages for Data Science

 * Python
 * Java
 * SQL

Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. R
4. Scala

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Scipy
5. TensorFlow
6. Keras


|Data Science Tools|
|------------------|
|Apache Spark|
|Jupyter Notebook|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

Result = (3*4)+5
print(Result)
Validate = (Result == 17)
print(Validate)

17
True

In [2]:
# This will convert 200 minutes to hours by diving by 60

print(200/60)

3.3333333333333335

## Author 

Gayathri